<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'books_app/css/login.css' %}">
</head>
<body>
   
    <div class="container">
        <div class="banner">
            <img src="{% static 'books_app/images/Banner3.jpg' %}" alt="LitLibrary Banner">
        </div>
        <h2>📖 Welcome to LitLibrary</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">🔑 Login</button>
        </form>

        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>

        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </div>
</body>
</html>
