<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if book %}Edit{% else %}Add{% endif %} Book</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'books_app/css/book_create.css' %}">
</head>
<body>

    <div class="container">
        <div class="banner">
            <img src="{% static 'books_app/images/banner2.jpg' %}" alt="LitLiterature Banner">
        </div>

        <h2>{% if book %}Edit{% else %}Add{% endif %} Book</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>

        <div class="back-link">
            <a href="{% url 'book_list' %}">📚 Back to Book List</a>
        </div>
    </div>

</body>
</html>
