<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'books_app/css/login.css' %}">
</head>
<body>
   
    <div class="container wider-container">  <!-- Add 'wider-container' class -->
        <div class="banner">
            <img src="{% static 'books_app/images/Banner3.jpg' %}" alt="LitLibrary Banner">
        </div>
        <h2>📚 Create an Account</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">✍️ Sign Up</button>
        </form>
    
        <p>Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
    </div>
    
</body>
</html>
